@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900&display=swap&subset=chinese-traditional");
h1 {
  font-size: 60px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 20px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

body, input, button {
  font-family: 'Noto Sans TC', 'Roboto', sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #D9D9D9;
}

::-webkit-scrollbar-thumb {
  background: #FFA573;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.side_nav {
  width: 25%;
  max-width: 500px;
  min-width: 380px;
  height: 100vh;
  background-color: #FFFFFF;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.side_nav_header {
  background-color: #73C0D8;
  padding: .5rem 0;
}

.side_nav_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .8rem 1rem;
  color: #FFFFFF;
}

.side_nav h2 {
  font-weight: 500;
}

.side_nav_date {
  text-align: right;
  letter-spacing: 1px;
}

.side_nav_date p {
  font-weight: 300;
}

.side_nav_date p:nth-child(1) {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.side_nav_date p:nth-child(2) {
  font-size: .8rem;
}

.side_nav_date p:nth-child(2) span {
  font-size: 1.2rem;
  font-weight: 700;
  color: #FFF126;
}

.side_nav_search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0;
  position: relative;
  padding: .5rem .8rem;
}

.side_nav_search #searchInput {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  border: 1px solid #FFFFFF;
  background-color: #FFFFFF;
  border-radius: 30px;
  padding: 10px 15px;
  display: block;
  width: 100%;
  height: 40px;
  text-align: left;
  font-size: 1rem;
  color: #73C0D8;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  font-weight: 300;
}

.side_nav_search #searchInput:-webkit-input-placeholder {
  color: #B2B2B2;
}

.side_nav_search #searchInput::-webkit-input-placeholder {
  color: #B2B2B2;
}

.side_nav_search #searchInput:-ms-input-placeholder {
  color: #B2B2B2;
}

.side_nav_search #searchInput::-ms-input-placeholder {
  color: #B2B2B2;
}

.side_nav_search #searchInput::placeholder {
  color: #B2B2B2;
}

.side_nav_search #searchInput:hover {
  color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.4);
}

.side_nav_search #searchInput:hover::-webkit-input-placeholder {
  color: #FFFFFF;
}

.side_nav_search #searchInput:hover:-ms-input-placeholder {
  color: #FFFFFF;
}

.side_nav_search #searchInput:hover::-ms-input-placeholder {
  color: #FFFFFF;
}

.side_nav_search #searchInput:hover::placeholder {
  color: #FFFFFF;
}

.side_nav_search #searchInput:focus {
  background-color: white;
  color: #73C0D8;
}

.side_nav_search #searchBtn {
  position: absolute;
  right: 1.8rem;
  width: 20px;
  height: 20px;
  background: transparent url("../img/searchIcon.svg") 0% 0% no-repeat padding-box;
  background-position: center;
  background-size: contain;
  opacity: 1;
  cursor: pointer;
}

.side_nav_select {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 .8rem;
}

.side_nav_option {
  width: 45%;
  height: 35px;
  border-radius: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  border: none;
  background-color: #FFFFFF;
  cursor: pointer;
  position: relative;
}

.side_nav_option > div {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #666666;
  font-weight: 500;
  letter-spacing: .2rem;
}

.side_nav_option > ul {
  visibility: hidden;
  opacity: 0;
  list-style: none;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 20px;
  background-color: #FFFFFF;
  color: #333333;
  font-size: 14px;
  line-height: 27px;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.side_nav_option > ul > li {
  width: 100%;
  color: #333333;
  font-weight: 500;
  letter-spacing: .2rem;
  cursor: pointer;
  border-radius: 20px;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.side_nav_option > ul > li:hover {
  background-color: #D9D9D9;
}

.side_nav_option > ul > li.active {
  background-color: #FFA573;
  color: #FFFFFF;
}

.side_nav_option:hover > ul {
  visibility: visible;
  opacity: 1;
}

.side_nav_container {
  padding: .5rem .5rem;
}

.side_nav_container .side_nav_info {
  width: 100%;
  padding-bottom: 24px;
  border-bottom: 1px solid #D9D9D9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

.side_nav_container .side_nav_info .info_title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 1rem;
}

.side_nav_container .side_nav_info .info_title > h3 {
  color: #333333;
}

.side_nav_container .side_nav_info .info_title > p {
  color: #B2B2B2;
}

.side_nav_container .side_nav_info .info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #666666;
  padding-bottom: 1rem;
}

.side_nav_container .side_nav_info .info > img {
  margin-right: .5rem;
}

.side_nav_container .side_nav_info .mask_status {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.side_nav_container .side_nav_info .mask_status > div {
  width: 45%;
  height: 35px;
  border-radius: 24px;
  color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
  letter-spacing: 1px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #FFFFFF;
}

.side_nav_container .side_nav_info .mask_status > div > span {
  font-weight: 900;
}

.side_nav_container .side_nav_info .adult {
  background-color: #FFA573;
}

.side_nav_container .side_nav_info .adult.no_mask {
  background-color: #B2B2B2;
}

.side_nav_container .side_nav_info .child {
  background-color: #73C0D8;
}

.side_nav_container .side_nav_info .child.no_mask {
  background-color: #B2B2B2;
}

.container {
  width: 100%;
  height: 100vh;
}

.container .leaflet-popup-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  width: 260px;
}

.container .leaflet-popup-content .info_title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .leaflet-popup-content .info_title > h3 {
  color: #333333;
}

.container .leaflet-popup-content .info_title > p {
  color: #B2B2B2;
}

.container .leaflet-popup-content .info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #666666;
}

.container .leaflet-popup-content .mask_status {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: .5rem 0;
}

.container .leaflet-popup-content .mask_status > div {
  width: 45%;
  height: 35px;
  border-radius: 20px;
  color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #FFFFFF;
}

.container .leaflet-popup-content .mask_status > div > span {
  font-weight: 900;
}

.container .leaflet-popup-content .adult {
  background-color: #FFA573;
}

.container .leaflet-popup-content .adult.no_mask {
  background-color: #B2B2B2;
}

.container .leaflet-popup-content .child {
  background-color: #73C0D8;
}

.container .leaflet-popup-content .child.no_mask {
  background-color: #B2B2B2;
}

.marker-cluster-small {
  background-color: rgba(181, 226, 140, 0.6);
}

.marker-cluster-small div {
  background-color: rgba(110, 204, 57, 0.6);
}

.marker-cluster-medium {
  background-color: rgba(241, 211, 87, 0.6);
}

.marker-cluster-medium div {
  background-color: rgba(240, 194, 12, 0.6);
}

.marker-cluster-large {
  background-color: rgba(253, 156, 115, 0.6);
}

.marker-cluster-large div {
  background-color: rgba(241, 128, 23, 0.6);
}

.marker-cluster {
  background-clip: padding-box;
  border-radius: 20px;
}

.marker-cluster div {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-top: 5px;
  text-align: center;
  border-radius: 15px;
  font: 12px 'Noto Sans TC', 'Roboto', sans-serif;
}

.marker-cluster span {
  line-height: 30px;
}

.leaflet-container {
  font: 12px/1.5 'Noto Sans TC', 'Roboto', sans-serif;
}

.leaflet-popup-content p {
  margin: .3rem 0;
  color: #666666;
}
/*# sourceMappingURL=main.css.map */